<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link rel="stylesheet" href="../static/css/choose.css">
</head>
<body>
    <div class="box">
        <div><p>Welcome TO Team-X</p></div>
        <div class="inner">
            <p class="general_text">New Here?</p>
            <a href="/signup">Sign-up now</a>
            
        </div>
        <div class="inner">
            <p class="general_text long">Already have an Account?</p>
            <a href="/signin">Sign-in</a>
        </div>
    </div>
    <div class="boper">
        <a class="guest" href="/home">Use as a Guest</a>
    </div>
</body>
</html>