<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team-X</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
        <div class="navigator">
            <div class="nav_left">
                    <div class="c1 co"></div>
                    <div class="c2 co"></div>
                    <div class="c3 co"></div>
                    <div class="c4 co"></div>
                    <div class="c0 co"></div>
                    
            </div>
            <div class="nav_right">
                <a class="nav_button" href="">Chat Zone</a>
                <a class="nav_button" href="">Contact Us</a>
                <a class="nav_button" href="">Report Bugs</a>
                <div class="profile">
                    <a href=""><p class="nameOfUser">GUEST</p></a>
                    <a class="logout" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
        <div class="centerer">
            <p class="title">TEAM - X</p>
            <p class="quote">"The capacity to learn is a gift, the ability to learn is a skill, the willingness to learn is a choice."</p>
        </div>
        <div class="about">
            <p class="aboutUs">About Us</p>
            <hr class="hr1">
            <p class="about_content">Team -X is a virtual platform where you can learn a variety of technologies. Our platform offers communication tools that allow you to easily clarify your doubts and interact with other learners.</p>
            <p class="about_content">Currently, we offer comprehensive courses in front-end and back-end web development, complete with easy-to-follow roadmaps that will guide you through the learning process. Our courses are designed to help you gain the skills and knowledge necessary to succeed in the tech industry.</p>
            <p class="about_content"> We are committed to providing a high-quality learning experience for all of our students, and we are constantly working to add new courses to our platform. Our goal is to become a one-stop-shop for all of your technology learning needs.</p>
            <hr class="hr1">
        </div>

        <div class="main_Content">
            <div class="done_it">
                <button onclick="learn()" class="start">Start Learning</button>
                <hr class="hr_button">
                <div class="decorate">

                </div>
            </div>
            <div class="content_map">
                <div class="roadmap"></div>
            </div>
        </div>
        
        <div class="auther_info">
            <hr class="hr_bottem">
            <div class="team_logo">
                <div class="logo"><img src="../static/images/icon.png" alt=""></div>
                <p>TEAM - X</p>
            </div>
        </div>
        <script src="../static/js/page.js"></script>
        <script>
            if('{{nameOfUser}}'!=null || '{{nomeOfUser}}'!=''){
                document.querySelector(".nameOfUser").innerHTML='{{nameOfUser}}';
                const log_=document.querySelector(".logout").innerHTML;
                const usrname=document.querySelector(".nameOfUser").innerHTML;
                if (log_==='Log Out' && usrname==='GUEST'){
                    document.querySelector(".logout").innerHTML='Log In';
                }
            }            
        </script>
</body>
</html>