<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Zone</title>
    <link rel="stylesheet" href="../static/css/chatBox.css">
</head>
<body>
    <div class="top_chatpg">
        <a href="/home">
            <p class="title_pg">Chat Zone</p>
        </a>
        <div class="usersName"></div>
    </div>
    <div class="messages" id="scrollDwn">
           
    </div>
    <div class="Add_msg">
        <div class="innerDec">
            <input placeholder="What's on your mind ?" type="text" name="newMessage" class="newMessage" >
            <div class="butons">
                <button onclick="opp()" class="send"><img src="../static/images/send.png" alt=""></button>
                <button onclick="giveChat('recent')" class="sync"><img src="../static/images/sync.png" alt=""></button>
                <button onclick="giveChat('All')" class="sync" style="color: white;">All Messages</button></div>
        </div>
    </div>
    <script src="../static/js/page.js"></script> 

</body>
</html>