<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>

    <div class="signup">

        <form action="http://127.0.0.1:2000/usernamePassword" method="post">
            <input type="text" required placeholder="USERNAME" class="newUserName" name="USERNAME">
            <input type="password" required placeholder="PASSWORD" class="newPassword"name="PASSWORD">
            <input type="submit" class="toAPI">
            </form>

    </div>
    
</body>
</html>