<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back User !</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="headTxt">Sign In</div>
    <div class="signup">
        
        <form class="actVeri" action="https://teamx-learner.onrender.com/verify" method="post">
            <input type="text" required placeholder="USERNAME" class="newUserName" name="usrnme">
            <input type="password" required placeholder="PASSWORD" class="newPassword" name="pswd">
            <input onclick="GetUsername()"  type="submit" class="toAPI">
        </form>
        <p class="flasher"></p>
    </div>
    <script src="../static/js/page.js"></script>
    <script>
        document.querySelector(".flasher").innerHTML="{{flash}}";
    </script>
    
</body>
</html>